
HW2/.idea/.name
*.class
*.frag
*.vert
HW2/target/classes/Box.class
HW2/target/classes/HollowCircle.class
*.iml
HW3/.DS_Store
HW3/src/.DS_Store
HW3/src/main/.DS_Store
.DS_Store
HW1/.idea/compiler.xml
HW1/.idea/encodings.xml
HW1/.idea/misc.xml
HW1/.idea/vcs.xml
HW1/.idea/workspace.xml
HW2/.idea/compiler.xml
HW2/.idea/encodings.xml
HW2/.idea/misc.xml
HW2/.idea/vcs.xml
HW2/.idea/workspace.xml
